main, h1{ padding: 1em;}

h1{
  color: orangered;
}

html{
  background-color: lightgray;
}

img{
  height: 10rem;
  width: auto;
  border-radius:1em
  box-shadow: 10px 5px 5px gray;

}

main p{
  background-color: gainsboro;
}

main li{
  border: thin solid black;
  padding: 1em;
  background-color: gainsboro;
}

footer{
  border: thin solid black;
}

p{
  color: orangered;
}

li{
  list-style-type: none;
}

nav{
  box-shadow: 10px 5px 5px gray;
}